.list-menu-icon {
    width: 100%;
    background-color: transparent;
    bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.list-menu-icon .music-icon{
    position: relative;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}


.list-menu-icon .music-icon::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: rgba(242, 59, 67, 0.3);
    width: 120%;
    height: 120%;
    top: -10%;
    left: 90%;
    z-index: -1; /* Để ::after không che khuất phần tử gốc */
    animation: biilogo-pulse 1s infinite;
}

.list-menu-icon ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 40px;
    margin-right: 40px;
}

.list-menu-icon li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #df4758;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.list-menu-icon .wedding-function-icon li:first-child{
}

.icon-label {
    position: absolute;
    right: 120%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #df4758;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.icon-label::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent #df4758;
}


.list-menu-icon li:hover .icon-label {
    opacity: 1;
    visibility: visible;
}

@keyframes biilogo-pulse{
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(0.95, 0.95, 0.95);
        transform: scale3d(0.95, 0.95, 0.95);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}